h1{
    color:turquoise;
    margin-left:250px;
}
.header *{
    border:solid;;
    border-color: turquoise;
   
}

.header{
  
    display:flex;
    justify-content:space-between;

}
.grid{
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    

}
h2,p{
    text-align:center;

}

.description{
    display:flex;
    justify-content:first baseline;
    flex-direction:column;
    margin-left:600px;
}
body{
    background-color:#808080;
}

a:link{
    color:red;
}
a:visited{
    color:yellow;

}
.item{
    position:relative;
    margin-left:10px;
}
.item p{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:0;
}
.item:hover p{
    opacity:1;
}
.item:hover img{
    opacity:0.55;
}